

<div class="container mt-5">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="alert alert-danger" >

                <strong>username or password incorect</strong>
            </div>
            <form action="">
                <div class="form-group">
                    <label for="">Name :</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Password :</label>
                    <input type="text" class="form-control">
                </div>
            </form>
        </div>
    </div>
</div>
