<div class="container">
    <div class="content">

        <table>
            <tr>
                <td>
                    <div class="image">
                        <img src="assets/one.png" alt="ee" srcset="">
                        <p class="name">brown coat</p>
                        <p class=" price"> Price: <strong>100 points</strong></p>
                        <!-- <button class="bt">ajouter au panier</button> -->
                    </div>
                </td>

                <td>
                    <div class="image">
                        <img src="assets/two.png" alt="ee" srcset="">
                        <p class="name">denim jacket</p>
                        <p class=" price"> Price: <strong>75 points</strong></p>
                        <!-- <button class="bt">ajouter au panier</button> -->
                    </div>
                  
                </td>
            </tr>
        </table>






    </div>
</div>