
<div class="article">

    <div class="text">


        <p class="p">
            Welcome to  <strong>Wear&Shear</strong>

             comfortable, and elegant clothing. From casual essentials to standout pieces, we have everything you need to create your perfect wardrobe. Our curated selection combines quality fabrics with timeless designs, ensuring you always look and feel your best.
            
            Shop the latest trends and find your new favorite look today!
         </p>

         <button class="bb" routerLink="/shop">Shop</button>


    </div>

    <div class="co">


        <div class="photo">
            <img src="assets/a.png" alt="Image description" srcset="">

        </div>





    </div>

</div>